h1, h2, h3, div{
    text-align: center;
    font-family: Arial;
    color: #FFFFFF;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
}

td{
    width: 500;
    height: 350;
    align-items: center;
    align-self: center;
    text-align: center;
    font-family: Arial;
    color: #DDDDDD;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
    display: inline-block;
    margin: 25px;
}

tr{
    align-items: center;
    align-self: center;
    text-align: center;
    display: inline-block;
}

table{
    width: 100%;
    align: center;
    padding-top: 15px;
    font-family: Arial;
    display: block;
}

img{
    height: 300;
    width: 500;
    align: center;
}

.input{
    font-size: 30px;
    font-family: Arial;
    vertical-align: bottom;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: #856044;
  padding: 10px 20px 10px 20px;
  vertical-align: baseline;
}
